<div class="jumbotron text-center">
  <h3>Leaderboard</h3>
  <div id="grid1" ui-grid="gridOptions" class="grid"></div>

  <h4>New Game</h4>
  <form ng-submit="addGame()">
    <label>Player 1</label>
      <select ng-model="player1.name">
        <option ng-repeat="player in players">{{player.name}}</option>
      </select>

    <label>Player 2</label>
      <select ng-model="player2.name">
        <option ng-repeat="player in players">{{player.name}}</option>
      </select><br>

    <label>{{player1.name}} Points</label>
    <input type="number" ng-model='player1.score'/>

    <label>{{player2.name}} Points</label>
    <input type="number" ng-model='player2.score'/><br>

    <input type="submit" id="submit" value="Submit" />
  </form>

  <h3>Add player</h3>
  <label>player name:</label>
  <input type="text" ng-model="newPlayerName">
  <button ng-click='addPlayer()'>Add player</button>

  <button ng-click='updateWinPctg()'>Update win pctg</button>

  <button ng-click='doStuff()'>DO IT</button>
</div>
{{players}}<hr>{{games}}
